doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Homepage of Thiago Bellini Ribeiro')
        meta(name='keywords', content='thiago,bellini,ribeiro,python,linux,devops,javascript,react,react-native,postgresql,gtk,gtk2,gtk3,zerosoft,blbventures')
        meta(name='author', content='Thiago Bellini Ribeiro')

        meta(property='og:title', content='Thiago Bellini Ribeiro')
        meta(property='og:url', content='https://bellini.page')
        meta(property='og:image', content='https://bellini.page/img/profile.jpg')
        meta(property='og:description', content='Homepage of Thiago Bellini Ribeiro')

        title Thiago Bellini Ribeiro

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Thiago Bellini Ribeiro
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#opensource') Open Source
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Thiago
                        span.text-primary Bellini
                        | Ribeiro
                    .subheading.mb-5
                        | Eindhoven - The Netherlands ·
                        a(href='mailto:thiago@bellini.dev') thiago@bellini.dev
                    p.lead.mb-5
                        | Hey, I'm Thiago Bellini Ribeiro!
                        br
                        br
                        | I'm a Senior Python Engineer with 15+ years of experience building
                        | reliable, maintainable backend systems and APIs.
                        br
                        br
                        | I'm passionate about open source and have contributed throughout my career.
                        | Recently, I've been focused on
                        a(href='https://strawberry.rocks') Strawberry GraphQL
                        | , where I'm a core developer and the official maintainer of the
                        a(href='https://github.com/strawberry-graphql/strawberry-graphql-django') Strawberry GraphQL Django
                        | integration.
                    .social-icons
                        a.social-icon(href='//www.linkedin.com/in/thiagobellini')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='//profile.codersrank.io/user/bellini666')
                            i.fab.fa.fa-code
                        a.social-icon(href='//github.com/bellini666')
                            i.fab.fa-github
                        a.social-icon(href='//www.facebook.com/bellini666')
                            i.fab.fa-facebook-f
                        a.social-icon(href='//t.me/bellini666')
                            i.fab.fa-telegram-plane

            hr.m-0

            // Open Source
            section#opensource.resume-section
                .resume-section-content
                    h2.mb-5 Open Source
                    p
                        | I'm actively involved in the open source community as a maintainer and contributor:
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Core maintainer of
                            a(href='https://github.com/strawberry-graphql/strawberry') Strawberry GraphQL
                            | , a modern Python GraphQL library
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Official maintainer of the
                            a(href='https://github.com/strawberry-graphql/strawberry-django') Strawberry GraphQL Django
                            | integration
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Creator of
                            a(href='https://github.com/bellini666/pytest-language-server') pytest-language-server
                            | , a language server implementation for pytest written in Rust

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3
                                a(href='https://www.sendcloud.com/') Sendcloud
                            p
                                | Started in the Carriers team, building and integrating shipping carrier integrations into the Sendcloud platform.
                            p
                                | Moved to the Technology team to work on cross-cutting, high-complexity initiatives across the backend platform, like:
                            p
                                | - Introducing ASGI capabilities to improve the platform's architecture and async readiness.
                                br
                                | - Supporting the migration of the platform toward a multi-tenant architecture.
                            p
                                | Stack: Python, Django, FastAPI, PostgreSQL, Kubernetes
                        .flex-shrink-0
                            span.text-primary November 2024 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3
                                a(href='https://www.parade.ai/') Parade
                            p
                                | Built backend services for a capacity management platform used by freight brokers and 3PLs.
                            p
                                | Part of the Digital Source team, helping brokers find carriers when loads don't have digital booking offers.
                            p
                                | Helped develop and maintain Codriver, an AI-powered system designed to respond to carrier inquiries in under a minute.
                            p
                                | Integrated LLM capabilities into production workflows with a focus on reliability, latency, and safe automation.
                            p
                                | Stack: Python, FastAPI, SQLAlchemy, Pydantic, OpenAI, Django, Django REST Framework, GCP
                        .flex-shrink-0
                            span.text-primary November 2023 - November 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Core Developer
                            .subheading.mb-3
                                a(href='https://strawberry.rocks/') Strawberry GraphQL
                            p
                                | Strawberry is a new GraphQL library for Python 3, inspired by dataclasses and type hints.
                            p
                                | My journey with Strawberry began when I recognized its potential and started contributing to enhance crucial features for various projects I was working on.
                            p
                                | Seeking to fortify its integration with Django, I created
                                a(href='https://github.com/blb-ventures/strawberry-django-plus') Strawberry Django Plus
                                | , an enhanced iteration atop the official Strawberry Django integration. The enthusiastic community response to it led to my appointment as the maintainer of the
                                a(href='https://github.com/strawberry-graphql/strawberry-graphql-django')
                                | . In a bid to consolidate enhancements, I integrated all improvements from Strawberry Django Plus and archived the latter.
                            p
                                | Stack: Python, Django, GraphQL, AsyncIO
                        .flex-shrink-0
                            span.text-primary February 2022 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 CTO & Lead Backend Engineer
                            .subheading.mb-3
                                a(href='https://blb.ventures') BLB Ventures
                            p
                                | BLB Ventures is a Venture Builder on a mission to transform startups into thriving enterprises.
                                |
                                | In my role as the CTO and lead backend engineer, I wear two hats: architecting solutions for our diverse portfolio of startups and rolling up my sleeves to implement these strategies hands-on.
                            p
                                | Given the dynamic nature of startup ventures, speed is of the essence – whether for achieving success or gaining insights swiftly through trial. My experience has honed my ability to navigate this fast-paced landscape without compromising on the development of functional, elegant, and scalable software solutions.
                            p
                                | Here are some examples of startups in our portfolio, in which I helped construct from the ground up:
                            p
                                | -
                                a(href='https://veroo.com.br') Veroo Cafés Especiais
                                br
                                | -
                                a(href='https://araraseed.com.br') Arara Seed
                                br
                                | -
                                a(href='https://2u.app.br') 2u Smart Solutions
                            p
                                | Stack: Python, Django, GraphQL, Strawberry GraphQL, Postgresql,
                                | Celery, Redis, Kubernetes, Docker
                        .flex-shrink-0
                            span.text-primary May 2020 - November 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Lead Backend Engineer
                            .subheading.mb-3
                                a(href='//cliqueimudei.com') CliqueiMudei
                            p
                                | Cliqueimudei stands as a prominent real estate marketplace dedicated to providing accurate and top-tier information.
                            p
                                | In the early phases of the project, I assumed the role of its sole backend engineer. This pivotal position tasked me with conceiving and constructing the entire API and integration framework from scratch. This foundational work empowered the company to expand and flourish during its subsequent years of operation.
                            p
                                | Stack: Python, Django, GraphQL, Graphene, Postgresql, Celery,
                                | Redis, Kubernetes, Docker
                        .flex-shrink-0
                            span.text-primary August 2019 - January 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Co-Founder & Lead Backend Engineer
                            .subheading.mb-3
                                a(href='https://zerosoft.com.br') Zerosoft
                            p
                                | Co-founded ZeroSoft and led backend development across client and product work.
                            p
                                | Designed and built APIs and backend services with a focus on maintainability, scalability, and delivery speed.
                            p
                                | Owned DevOps responsibilities alongside engineering (containerization, environment setup, deployment workflows).
                            p
                                | Stack: Python, Django, GraphQL, PostgreSQL, Celery, Redis
                        .flex-shrink-0
                            span.text-primary July 2017 - May 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3
                                a(href='//github.com/stoq') Stoq Tecnologia
                            p
                                | Primarily engaged in
                                a(href='https://github.com/stoq/stoq') Stoq
                                | development, taking on the role of one of the lead engineers in the company. My responsibilities encompassed substantial customizations and intricate project tasks.
                            p
                                | In my final stretch with the company, I orchestrated a remarkable feat – migrating an extensive source codebase (500k+ lines) from Python 2 to Python 3 and concurrently transitioning from GTK+2 to the modern GTK+3 framework. This significant accomplishment was achieved within my final couple of months.
                            p
                                | Stack: Python, PostgreSQL, GTK+, Storm ORM, SQLObject,
                                | Debian Packaging, Juju
                        .flex-shrink-0
                            span.text-primary January 2011 - June 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3
                                a(href='//nowsecure.com') NowSecure
                            p
                                | Acted as a software developer on behalf of Async Open Source.
                            p
                                | Led a comprehensive migration effort, successfully transitioning the complete NowSecure Forensics Suite (previously viaExtract) and NowSecure App Testing (formerly viaLab) from GTK+2 to the modern GTK+3 framework.
                            p
                                | Additionally, I played an instrumental role in advancing the Forensics Suite, particularly focusing on tasks centered around GUI enhancements and optimizations.
                            p
                                | Stack: Python, GTK+, Sqlite
                        .flex-shrink-0
                            span.text-primary December 2014 - September 2015

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Universidade de São Paulo (USP)
                            .subheading.mb-3
                                a(href='//www.icmc.usp.br/graduacao/sistemas-de-informacao-bacharelado') Bachelor's degree, Information Systems
                        .flex-shrink-0
                            span.text-primary 2015 - 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Universidade de São Paulo (USP)
                            .subheading.mb-3 Bachelor's degree, Computer Science
                        .flex-shrink-0
                            span.text-primary 2010 - 2015

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
